In [1]:
# Creating dataframe using list and dictionary
import pandas as pd
data = {'Name':['jobs', 'gates', 'musk', 'mark'],'Age':[28,34,29,42]}
df1 = pd.DataFrame(data,dtype=float)
df1

    Name   Age
0   jobs  28.0
1  gates  34.0
2   musk  29.0
3   mark  42.0

In [2]:
# give indexing to df
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df2 = pd.DataFrame(data,index=['student1','student2','student3','student4'])
df2

           Name  Age
student1    Tom   28
student2   Jack   34
student3  Steve   29
student4  Ricky   42

In [3]:
# row indices and column indices
l = [{'x': 'yen', 'y': 'kush', 'z': 100},
     {'x': 'men', 'y': 'ansh', 'z': 100},
     {'x': 'pen', 'y':'pop','z': 100}
     ]

df3=pd.DataFrame(l,index=['rank1','rank2','rank3'],columns=['x','w'])
df4=pd.DataFrame(l,index=['rank4','rank5','rank6'],columns=['y','z'])

print(df3)
print(df4)

         x   w
rank1  yen NaN
rank2  men NaN
rank3  pen NaN
          y    z
rank4  kush  100
rank5  ansh  100
rank6   pop  100

In [4]:
import numpy as np
d = {'x': [10, 20, 30], 'y': np.array([25, 47, 88]),'z': 'good' }
m=pd.DataFrame(d)
print(m)

m2=pd.DataFrame(d, index=[1, 2, 3], columns=['z','y','x'])
print(m2)

    x   y     z
0  10  25  good
1  20  47  good
2  30  88  good
      z   y   x
1  good  25  10
2  good  47  20
3  good  88  30

In [5]:
# Adding a new column using the existing columns in DataFrame
m2['x+y']= m2['x']+ m2['y']
print(m2)

#Column Deletion

del m2['z']
print(m2)

      z   y   x  x+y
1  good  25  10   35
2  good  47  20   67
3  good  88  30  118
    y   x  x+y
1  25  10   35
2  47  20   67
3  88  30  118

In [6]:
info ={
     'name': ['Xavier', 'Ann', 'Jana', 'Yi', 'Robin', 'Amal', 'Nori'],
     'city': ['Mexico City', 'Toronto', 'Prague', 'Shanghai',
              'Manchester', 'Cairo', 'Osaka'],
     'age': [41, 28, 33, 34, 38, 31, 37],
     'py-score': [88.0, 79.0, 81.0, 80.0, 68.0, 61.0, 84.0]
}

row_labels = [101, 102, 103, 104, 105, 106, 107]


df = pd.DataFrame(data=info, index=row_labels)
print(df)

       name         city  age  py-score
101  Xavier  Mexico City   41      88.0
102     Ann      Toronto   28      79.0
103    Jana       Prague   33      81.0
104      Yi     Shanghai   34      80.0
105   Robin   Manchester   38      68.0
106    Amal        Cairo   31      61.0
107    Nori        Osaka   37      84.0

In [7]:
print(df.head(n=2))
print(df.tail(n=2))

       name         city  age  py-score
101  Xavier  Mexico City   41      88.0
102     Ann      Toronto   28      79.0
     name   city  age  py-score
106  Amal  Cairo   31      61.0
107  Nori  Osaka   37      84.0

In [8]:
cities = df['city']
print(cities)
cities[102]

print(df.loc[103]) #Row Selection

101    Mexico City
102        Toronto
103         Prague
104       Shanghai
105     Manchester
106          Cairo
107          Osaka
Name: city, dtype: object
name          Jana
city        Prague
age             33
py-score        81
Name: 103, dtype: object

In [9]:
print(df.shape) # give shape
print(df.columns)  # show columns in df

(7, 4)
Index(['name', 'city', 'age', 'py-score'], dtype='object')

In [10]:
print(df['name'])  # show 'name' column
print(df['age'].min()) # minimum age
print(df['age'].max()) # maximum age

101    Xavier
102       Ann
103      Jana
104        Yi
105     Robin
106      Amal
107      Nori
Name: name, dtype: object
28
41

In [11]:
print(df.describe())
print(df.age>10)
print(df.iloc[1:3]) #Select raw from index 1 to 2
df1 = df.drop(105) # Drop rows with label 0
print(df1)

             age   py-score
count   7.000000   7.000000
mean   34.571429  77.285714
std     4.429339   9.446592
min    28.000000  61.000000
25%    32.000000  73.500000
50%    34.000000  80.000000
75%    37.500000  82.500000
max    41.000000  88.000000
101    True
102    True
103    True
104    True
105    True
106    True
107    True
Name: age, dtype: bool
     name     city  age  py-score
102   Ann  Toronto   28      79.0
103  Jana   Prague   33      81.0
       name         city  age  py-score
101  Xavier  Mexico City   41      88.0
102     Ann      Toronto   28      79.0
103    Jana       Prague   33      81.0
104      Yi     Shanghai   34      80.0
106    Amal        Cairo   31      61.0
107    Nori        Osaka   37      84.0

In [12]:
# Addition of Rows
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
data2= [{'a':3 ,'b': 4},{'a': 15, 'b': 20, 'c': 35}]

df3 = pd.DataFrame(data, index=['first', 'second'])
df4=pd.DataFrame(data2,index=['third','fourth'])

df3=df3.append(df4)
print(df3)

         a   b     c
first    1   2   NaN
second   5  10  20.0
third    3   4   NaN
fourth  15  20  35.0